<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员聊天室</title>
    <link href="/stylesheets/chat.css" rel="stylesheet">
</head>

<body>
    <div class="chat-box">
        <span id="chat-back">返回</span>
        <h1>后台管理员聊天群组</h1>
        <ul class="chat-content">
            <li>
                <i></i>
                <span></span>
                <div>
                    <b></b>
                    <p></p>
                </div>
            </li>
        </ul>
        <div class="chat-foot">
            <textarea></textarea>
            <span>发送</span>
        </div>
    </div>
</body>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/javascripts/chat.js"></script>

</html>